In [28]:
import mysql.connector as my #importing database
database = my.connect(
    host="localhost",
    user= "root",
    password = ""
)
db = database.cursor()
try:
    db.execute("CREATE DATABASE python_class")
except:
    print("The database is already there")

The database is already there

In [29]:
database.commit()

In [3]:
import mysql.connector as my #importing database
database = my.connect(
    host="localhost",
    user= "root",
    password = "",
    database='class 2pm'
)
db = database.cursor()

In [31]:
sql = "SELECT *FROM profile"
db.execute(sql)
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ayush', 34, 43, 43, 53, 54, 434, 0)
(3, 'Ayush', 434, 34, 54, 43, 73, 779, 0)
(4, 'saingam', 34, 54, 54, 65, 45, 234, 47)
(5, 'sangam', 45, 45, 54, 65, 43, 345, 69)
(6, 'sangam', 34, 54, 54, 53, 45, 240, 48)

In [4]:
mycursor = database.cursor()
sql = "INSERT INTO profile (name, physics,chemestry,math,english,nepali,total,per) VALUES('Harry',89,45,54,64,34,350,80)"
db.execute(sql)
database.commit()

In [13]:
import mysql.connector as my #importing database
database = my.connect(
    host="localhost",
    user= "root",
    password = "",
    database='class 2pm'
)
db = database.cursor()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics mark = "))  
    chemestry = int(input("Enter chemestry mark = "))  
    math= int(input("Enter math mark = "))   
    english = int(input("Enter english mark = "))                 
    nepali = int(input("Enter nepali mark = "))               
    total = sum([physics,chemestry,math,english,nepali])
    per = total/5
    sql = f'''INSERT INTO profile (name,physics,chemestry,math,english,nepali,total,per) 
    VALUES('{name}',{physics},{chemestry},{math},{english},{nepali},{total},{per})'''
    print(sql)
    db.execute(sql)
database.commit()

Enter n = 1
Enter name = Herik
Enter physics mark = 34
Enter chemestry mark = 53
Enter math mark = 23
Enter english mark = 54
Enter nepali mark = 23
INSERT INTO profile (name,physics,chemestry,math,english,nepali,total,per)
    VALUES('Herik',34,53,23,54,23,187,37.4)

In [15]:
sql = "DELETE FROM profile WHERE sn = 7"
db.execute(sql)  
database.commit(

In [16]:
sql = "UPDATE profile SET name = 'Ayush' WHERE name = 'sfsd'"
db.execute(sql)
database.commit()