In [ ]:
# Using For Loop
num = int(input("enter a number: "))
 
fac = 1
 
for i in range(1, num + 1):
    fac = fac * i
 
print("factorial of ", num, " is ", fac)

In [ ]:
# Using While Loop
num = int(input("enter a number: "))
 
fac = 1
i = 1
 
while i <= num:
    fac = fac * i
i = i + 1
 
print("factorial of ", num, " is ", fac)

In [ ]:
# input net amount
amt = int(input("Enter Amount: "))
 
# calculate amount with discount

if(amt>0):
    if amt<=5000:
       disc = amt*0.10
    elif amt<=15000:
        disc=amt*0.15
    elif amt<=25000:
        disc=0.20 * amt
    else:
         disc=0.5 * amt
 
    print("Discount Amount : ",disc)
    print("Total amount of Bill : ",amt-disc)
else:
    print("Invalid Amount")

In [ ]:
# Total Billng
all_total = 0
s = " "
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price * quantity
    s = s+product+" "+ str(price)+ " " +str(quantity) +" " + str(total) + "\n"
    all_total = all_total+total
    print("The bill is = \n",s)   
    print("All total = ",all_total)

####

In [ ]:
s = ""
i = 0
n = int(input("Enter n = "))
while i<n:
    x = input("Enter x = ")
    s = s+x+" "
    i = i+1
    print(s)

In [ ]:
a = "Python" #range
for i in a:
    print(i)

In [ ]:
a = "Hello World"
for i in a:
    if i != " ":
        print(i)

In [ ]:
a = "Hello World"
for i in a:
    if i != "l" and i!=" ":
        print(i)

In [ ]:
# Control Statements
# break
# continue
# pass

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i)

In [ ]:
for i in range(5):
    if i == 3:
        continue
    print(i)

In [ ]:
for i in range(5):
    pass

In [ ]:
a = "Hello World"
for i in a:
    if i == "":
        continue
    print(i,end = "")

In [ ]:
    # Practice
# Wap  to find the given no is prime or composite
# WAP to draw patterns
# *
# **
# ***
# ****
# WAP to remove all digits from a given string(0,1,2,3,4,5,6,7,8,9)
# WAP to make result management system

In [ ]:
a = "apple"
b = a[0].upper()+a[1:]
print(b)

In [ ]:
a = "Ram Shyam Hari SIta Gita Gita"
b = a.replace('Ram','ram')
print(b)
print(a)

In [ ]:
def hello():
    print("Hello WOrld")
hello()

In [ ]:
def cal():
    l = int(input("Enter l = ")) #Local Variable
    b = int(input("Enter b = "))
    h = int(input("Enter h = "))
    v = l*b*h
    print("The volume is = ",v)
cal()

In [ ]:
    l = int(input("Enter l = ")) #global Variable
    b = int(input("Enter b = "))
    h = int(input("Enter h = "))
    def cal():
        v = l*b*h
        print("The volume is = ",v)
    cal()

In [ ]:
    l = int(input("Enter l = ")) #global Variable
    b = int(input("Enter b = "))
    h = int(input("Enter h = "))
    def area():
        a = l*b
        print("The area is = ",a)
        
    def volume():
        v = l*b*h
        print("The volume is = ",v)
    volume()
    area()

In [ ]:
# def<function_Name>(<parameter>):
#     operations
#     .....
#     .....
# <function_name>(<argument>)

In [ ]:
def language(lan = "Python"):
    print(lan)
language("C")
language("C++")
language("Java")
language()

In [ ]:
def cal(x ,y = 5,z = 5):
    v = x*y*z
    print("The volume is = ",v)
cal(15)

In [ ]:
# Return type function
def hello(x):
    return x
y = hello("Hello World")
print(y)

In [ ]:
def cal(x,y,z):
    a = x*y
    v = a*z
    return a,v
ar = cal(10,2,2)
print("The area is = ",ar)

In [ ]:
a,b = 10,20
print(a)
print(b)

In [ ]:
# WAP to maek a calculator  by using return type function
# Program make a simple calculator

# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y


print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        
        # check if user wants another calculation
        # break the while loop if answer is no
        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
          break
    
    else:
        print("Invalid Input")

####

In [ ]:
# Python Collection
    # List 
    # Tuple
    # Dictionary
    # Set

In [ ]:
#                                 List

In [ ]:
data = [1,2,3,4,5,6,7,8,9]
data[0:8:2]

In [ ]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    data =  data + [x]
print(data)

In [ ]:
for i in range(len(data)):
    print(data[i])

In [ ]:
for i in range(len(data)):
    if data[i] == "sangam":
        print(i)

In [ ]:
# CRUD Operations in List
    # append()
    # extend()
    # insert()

In [ ]:
# Task
    # WAp to develop a billing application(CRUD)
    # wAP to dvevelop result maangement system
    # wAP to develop a matrix (CRUD)

In [ ]:
#                         Tuple

In [ ]:
a = []
c  = int(input("Enter c = "))
r = int(input("Enter r = "))
for i in range(r):
    b  = []
    for j in range(c):
        x = int(input("Enter x = "))
        b.append(x)
    a.append(b)
    
print(a)

Tuple
Indexed
Multiple Data
Duplicate data
Imutable

In [ ]:
a = (1,2,3)
print(a)
print(type(a))

In [ ]:
a = ("Apple","Ball","Cat","Dog")
print(a[0:3])

In [ ]:
a = ("Apple","Ball","Cat","Dog")
b = ("Fish",)
a = a+b
print(a)

In [ ]:
# append() insert() extend() del() remove() pop()

In [ ]:
a = ["Zebra","Apple","Cat","Dog"]
print(sorted(a))
print(a)

In [ ]:
a = ["Zebra","Apple","Cat","Dog"]
b = list(a)
print(b)

In [ ]:
a = ["Zebra","Apple","Cat","Dog"]
b = list(a)
b.remove('Zebra')
a = tuple(b)
a

In [ ]:
# Tuple functions
    # min()
    # max()
    # sum()
    # index()
    #search
    #read

In [ ]:
a = ["Zebra","Apple","Cat","Dog"]
for i in a:
    print(i)

In [ ]:
a = ["Zebra","Apple","Cat","Dog"]
if "Apple" in a:
    print("Yes")

In [ ]:
def hello():
    return "Hello","World"
print(hello()[0])
print(hello()[1])

In [ ]:
def hello(z):
    print(z[0],z[1])
t = ("Hello","World")
hello(t)

In [ ]:
# tuple inside tuple
# a  = ((1,2,3),
#      (4,5,6),
#      (7,8,9))

In [ ]:
# change tuple inside tuple to list inside list
    # list inside tuple 
    # tuple inside list

In [ ]:
# WAP to change 
# ['Apple 200 3 600', 'Banana 100 2 200']
#to
# [['Apple',200,3,600],['Banana','100,2,100']]
z = "Apple 200 3 600\nBanana 100 2 200"
y = z.split('\n')
print(y)
b = []
for i in y:
    x = i.split()
    b.append(x)
    
print(b)

In [ ]:
a = [['Apple', '2000', '3', '600'], ['Banana', '100', '2', '200']]
a[0][1] = int(a[0][1])
a[0][2] = int(a[0][2])
a

In [ ]:

# Python code to convert list of tuple into list
  
# List of tuple initialization
tup = [(1, 2), (3, 4), (5, 6)]
  
# result list initialization
result = []
  
for t in tup:
    for x in t:
        result.append(x)
  
# printing output
print(result)

In [ ]:
# change tuple inside tuple to list inside list
    # list inside tuple 
    # tuple inside list

In [ ]:
# List inside tuple
a = ([1,2,3],[4,5,6,],[7,8,9])
print(a[0])
a[0][0]= 11
print(a)

In [ ]:
 # Tuple inside list
    a = [(1,2,3),(4,5,6),(7,8,9)]
    a[0] = (1,2,33)
    a

In [ ]:
# change tuple inside tuple to list inside list
b  = []
a = ((1,2,3),(4,5,6),(7,8,9))
for i in a:
    x = list(i)
    b.append(x)
print(b)

In [ ]:
a = ((1,2,3),(4,5,6),(7,8,9))
b = [list(i) for i in a]
print(b)

In [ ]:
# tuple inside tuple to list inside list

a = ((1,2,3)) , ((4,5,6)) ,((7,8,9))
b = [list(x) for x in a]
print(b)

In [ ]:
# Set
#     Not Indexed
#     No Duplicated Values
#     Uonrdered
#     Mutable

In [ ]:
# set are Unordered
s =  set()
a = {"Apple","Ball",'Cat',"Dog"}
print(a)

In [ ]:
# Set are not Indexed
a = {"Apple","Ball",'Cat',"Dog"}
print(a[0])

In [ ]:
# Set donot take duplicate values
a = {"Apple","Ball",'Cat',"Dog","Apple"}
print(a)
print(len(a))

In [ ]:
# Set is Mutable
a = {"Apple","Ball",'Cat',"Dog"}
a.update({'Goat'})
a

In [ ]:
# Mutable
a = {"Apple","Ball",'Cat',"Dog"}
a.add('Goat')
a

In [ ]:
# Set is UNordered
s = set()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s.add(x)
print(s)

In [ ]:
# Tuple inside set can be put
    s = {(1,2,3),(4,5,6),(7,8,9)}
    s

In [ ]:
#  list cannot be put inside set if we try to put errors come in program
     d = {[1,2,3],[4,5,6]}
     d

In [ ]:
# set inside set cannot be put if we try to put errors come in program
s = {{1,2,3},{4,5,6},{7,8,9}
     s

In [ ]:
a = ["Apple","Ball","Apple","Ball"]
b = set(a)
c = list(b)
c

In [ ]:
# Union
abc  = {"Ram","Shyam","Hari","Gita"}
xyz = {"Siva","Sita","Ram","Shyam"}
abc.union(xyz)

In [ ]:
# Intersection
abc  = {"Ram","Shyam","Hari","Gita"}
xyz = {"Siva","Sita","Ram","Shyam"}
abc.intersection(xyz)

In [ ]:
# Associated with abc compnay but not xyz
abc  = {"Ram","Shyam","Hari","Gita"}
xyz = {"Siva","Sita","Ram","Shyam"}
abc.difference(xyz)

In [ ]:
# Assocaited with xyz company but not abc
abc  = {"Ram","Shyam","Hari","Gita"}
xyz = {"Siva","Sita","Ram","Shyam"}
xyz.difference(abc)

In [3]:
# Not Assocaited with both company
U = {"Ram","Shyam","Hari","Gita","Nabin","Vimesh","Siva","Sita","Ram","Shyam"}
abc  = {"Ram","Shyam","Hari","Gita"}
xyz = {"Siva","Sita","Ram","Shyam"}
x = abc.union(xyz)
un = U.difference(x)
un

{'Nabin', 'Vimesh'}

In [2]:
# Symmertical Differecne
U = {"Ram","Shyam","Hari","Gita","Nabin","Vimesh","Siva","Sita","Ram","Shyam"}
abc  = {"Ram","Shyam","Hari","Gita"}
xyz = {"Siva","Sita","Ram","Shyam"}
x = abc.intersection(xyz)
y = abc.union(xyz)
un = y.difference(x)
un

{'Gita', 'Hari', 'Sita', 'Siva'}

In [ ]:
                                        # Dictonary 3rd January 2022
#     Indexed
#     Ordered
#     Multiple Values
#     Duplicate Values
#     Mutable

In [ ]:
d = {}
print(type(d))

In [ ]:
# d = {<key>:<value>}

In [ ]:
# Indexed
d = {'a':"Apple"}
print(d)
print(type(d))

In [ ]:
# Ordered
d = {'a':"Apple",'b':"Ball",'c':"Cat"}
print(d['a'])
print(d['b'])
print(d['c'])

In [ ]:
# Multiple Values
d = {'a':"Apple",'b':"Ball",'c':"Cat"}
print(d)
print(len(d))

In [ ]:
# Duplicate Values
d = {'a':"Apple",'b':"Ball",'c':"Apple"}
print(d)

In [ ]:
# Mutable
d = {'a':"Apple",'b':"Ball",'a':"Cat"}
print(d)

In [ ]:
# Mutable
a = {}
a['A'] = "Apple"
a['B'] = "Ball"
a['c'] = "Cat"
a['A'] = "apple"


print(a)

In [ ]:
a = {}
a['A'] = "Apple"
a['B'] = "Ball"
a['c'] = "Cat"


print(a)

In [ ]:
info = dict()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info[name] = phone
print(info)

In [ ]:
{'Sangam': '934732974123', 'sagar': '4734712374'}
for i in d:
    print(i)

In [ ]:
d = {'Sangam': '934732974123', 'sagar': '4734712374'}
for i in d.values():
    print(i)

In [ ]:
l = list()
d = {'Sangam': '934732974123', 'sagar': '4734712374'}
for i in d.items():
    print(i)

In [ ]:
d = {'Sangam': '934732974123', 'sagar': '4734712374'}
dict(d)

In [ ]:
list("Python")

In [ ]:
tuple("Python")

In [ ]:
d = {'Sangam': '934732974123', 'sagar': '4734712374'}
d['Sangam'] = '741823744545'
print(d)

In [ ]:
# Mutable
d = {'Sangam': '934732974123', 'sagar': '4734712374'}
d['Hari'] = '741823744545'
print(d)

In [ ]:
# del pop()

In [ ]:
d = {'Sangam': '934732974123', 'sagar': '4734712374'}
del d["Sangam"]
print(d)

In [ ]:
d = {'Sangam': '934732974123', 'sagar': '4734712374'}
d.pop("Sangam")
print(d)

In [ ]:
# list tuple set dictonary as value
    #  contains following as a values
        #     list
        #     Tuple
        #     Set
        #     Dictonary

In [ ]:
#list inside dict
d = {'Ram': ['9856556543','98564457687'], 
     'Shyam': ['9867665654','9867565545']}
print(d)
print(len(d))
print(type(d))

In [ ]:
d = {'Sangam': ['934732974123','9347329741234564'],
     'sagar': ['4734712374','473471237455']}
print(d)
print(len(d))
print(type(d))

In [ ]:
print(d['Sangam'])
print(d["sagar"][0])

In [ ]:
d = {'Sangam': ['934732974123','9347329741234564'],
     'sagar': ['4734712374','473471237455']}
for i in d.items():
    print(i)

In [ ]:
data = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc phone no. = ")
    ncell = input("Enter ncell phone no. = ")
    data[name] = [ntc,ncell]
print(data)

In [ ]:
d = {'Sangam': ['934732974123','9347329741234564'],
     'sagar': ['4734712374','473471237455']}
d['Sangam'][0] = 98364636434
del d['sagar'][0]
d

In [ ]:
d = {'Sangam': ['934732974123','9347329741234564'],
     'sagar': ['4734712374','473471237455']}
d.pop('Sangam')
d

In [ ]:
d = {'Sangam': ['934732974123','9347329741234564'],
     'sagar': ['4734712374','473471237455']}
d['Sangam'].pop(0)
d

In [ ]:
d = {'Sangam': ['934732974123','9347329741234564'],
     'sagar': ['4734712374','473471237455']}
d['Sangam'].append("9824392754231794")
d

In [ ]:
# dict inside list
l = [{'Name':'Ram','NTC':9867554543,'NCELL':9808556543},
    {'Name':'Shyam','NTC':9864334321,'NCELL':9808998976}]
print(l)
print(type(l))
print(l[1]['Name'])

In [ ]:
mylist = {'mydict': [{'A': 'Letter A'}, {'B': 'Letter C'}, {'C': 'Letter C'}]}
print(mylist['mydict'][0]['A'])

In [ ]:
for i in l:
    print(i)

In [ ]:
                    #             Dictonary 2nd Classs Jan 4

In [ ]:
data = []
n = int(input('Enter n = '))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc phone = ")
    ncell = input("Enter ncellphone = ")
    info = {'Name':name,'Ntc':ntc,'Ncell':ncell}
    data.append(info)
print(data)

In [ ]:
print(data[0]['Name'])

In [ ]:
data[0]['Name'] = 'Ram'
print(data)

In [ ]:
data[0]['Land'] = 34334234
data

In [ ]:
# dict inside dict
    # d = {<key>:{<key>:<value>}}

In [ ]:
d = {'Nepal':{'Name':'Ram','NTC':'93473847394','NCELL':'984734343343'},
    'USA':{'Name': 'Ram','NTC':'3934834','NCELL':'384394734'}}
print(d['Nepal'])

In [ ]:
print(d['Nepal']['Name'])

In [ ]:
data = {}
n = int(input('Enter n = '))
for i in range(1,n+1):
    name = input("Enter name = ")
    ntc = input("Enter ntc phone = ")
    ncell = input("Enter ncell phone = ")
    data[i] = {'Name':name,'NTC':ntc,'NCELL':ncell}
    
print(data)

In [ ]:
data = {1: {'Name': 'Ram', 'NTC': '9865445432', 'NCELL': '9808556543'}, 2: {'Name': 'Shyam', 'NTC': '9867665432', 'NCELL': '9808556543'}}

In [ ]:
data[3] = {'Name':'Hari','NTC':9867665643,'NCELL':9808556543}
data

In [ ]:
data[1]['Name'] = "Rama"
data

In [ ]:
data[1]['NTC'] = [9867665654,98454432]
data

In [ ]:
d = {('Ram','Shyam'):'Kathmandu'}
print(d)

In [ ]:
d[('Ram', 'Shyam')]

In [ ]:
data = []
d = {('Ram','Shyam'):'Kathmandu',('Hari','Sita'):'Patan'}
for i in d.items():
    if "Ram" in i[0]:
        print(i)

In [ ]:
d = {1:{'Name':'Aakash','Physics':{'Th':60,'Pr':20}},
     2:{'Name':'sagar','Physics':{'Th':50,'Pr':10}}}
d

In [2]:
data = {}
n = int(input('Enter n = '))
for i in range(1,n+1):
    name = input("Enter name = ")
    PhysicsTh = input("Enter physics theory  mark = ")
    PhysicsPr = input("Enter physics paractical  mark = ")
    data[i] = {'Name':name,'PhysicsTh':PhysicsTh,'PhysicsPr':PhysicsPr} 
print(data)

Enter n = 2
Enter name = Aakash
Enter physics theory  mark = 60
Enter physics paractical  mark = 20
Enter name = Sagar
Enter physics theory  mark = 50
Enter physics paractical  mark = 10
{1: {'Name': 'Aakash', 'PhysicsTh': '60', 'PhysicsPr': '20'}, 2: {'Name': 'Sagar', 'PhysicsTh': '50', 'PhysicsPr': '10'}}

In [ ]:
                            # File Jan-6
# file = open(<file_name>,<mode>)
# file.close()
# modes
    # r - read
    # w - write
    # a - append
    # x = create

In [2]:
try:
    file = open('data.txt','x')
    file.close()
except:
    print("The file is already there")

The file is already there

In [7]:
file = open('data.txt','r')
data = file.read()
print(data)
print(type(data))
file.close()

<class 'str'>

In [4]:
data

''

In [1]:
main_data = data.split('\n')

NameError: name 'data' is not defined

In [2]:
main_data[2]

NameError: name 'main_data' is not defined

In [3]:
file = open('data.txt','r')
print(file.readline())
print(file.readline())

file.close()

In [ ]:
# String formatting
s = ""
n = int(input("Enter n = "))
file = open('data1.txt','a')
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info = f"{name} {phone}\n"
    s = s+info
    
print(s)
file.write(s)
file.close()

In [ ]:
# String formatting
s = ""
n = int(input("Enter n = "))
file = open('data.csv','w')
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info = f"{name},{phone}\n"
    s = s+info
    
print(s)
file.write('Name,Phone\n')
file.write(s)
file.close()

In [ ]:
new_file = open('data.csv','r')
new_data = new_file.read()
print(new_data)
new_file.close()

In [6]:
new_file = open('data.csv','w')
data_updated = new_data.replace('Ram,9856556543','Sangam,434234234')
b = open('data.csv','w')
b.write(data_updated)
b.close()

NameError: name 'new_data' is not defined